<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="EAI_Url" value="https://lb-tvstg-eai-multi.lbtwsys.com:12600" />
		<add key="EAI_Url_UAT" value="https://lb-tvuat-eai-multi.lbtwsys.com:12600" />
	</appSettings>
	<connectionStrings>
		<add name="CARDConnectionString" connectionString="Data Source=10.244.104.126,11433;Initial Catalog=CARD;User ID=BK00383;Password=3edc$RFV;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="CARDReadOnlyConnectionString" connectionString="Data Source=10.244.104.126,11433;Initial Catalog=CARD;User ID=BK00383;Password=3edc$RFV;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="CARDHistConnectionString" connectionString="Data Source=10.244.104.126,11433;Initial Catalog=CARD_HIST;User ID=BK00383;Password=3edc$RFV;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />

		<add name="CARDConnectionString_UAT" connectionString="Data Source=10.244.96.202,11433;Initial Catalog=CARD;User ID=DEC_DB_APP_UAT;Password=UAT-1qaz@WSX;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="CARDReadOnlyConnectionString_UAT" connectionString="Data Source=10.244.96.202,11433;Initial Catalog=CARD;User ID=BK00383;Password=3edc$RFV;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="CARDHistConnectionString_UAT" connectionString="Data Source=10.244.96.202,11433;Initial Catalog=CARD_HIST;User ID=BK00383;Password=3edc$RFV;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>